data/data/
*/.vscode/
.idea/*
out/*
out/board/*
.venv
.vscode
.pytest_cache
.models/
.traningset/
/trainingset/*
/trainingset/Bishop/
/trainingset/Empty/
/trainingset/King/
/trainingset/Knight/
/trainingset/Pawn/
/trainingset/Queen/
/trainingset/Rook/
__pycache__/
/temp/*
/data/*
/tests/out/*